<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>پست الکترونیک</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label>رمز عبور</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <button type="submit" class="btn btn-primary">ورود</button>
    </form>
  </div>
</div>
